body {
  display: flex;
  height: 100vh;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/010/592/919/large/rogue-dragon-studio-janesfarm-main.jpg?1525231030);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}#Pett {
  display: flex;
  order: 2;
  margin-left: 12%;
  margin-top: 29%;
  height: 200px;
  width: 200px;
}.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}.sidenav a:hover {
  color: #f1f1f1;
}.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}#main {
  transition: margin-left 0.5s;
  padding: 16px;
}.dropdown{
  display: inline-block;
}li:hover.dropdown{
display: block;}li{
  position: relative;
}li:hover{
  background: #333;
}li:hover > a{
  color: #fff;
}li .dropdown{
  position:absolute;
}.image{
  height: 50%;
  width: 50%;
}
#para{
  color: black;
  font-size: 20px;
  margin-bottom: 32%;
  margin-top: 17%;
  margin-left: 25%;
  border-style: dashed;
 }
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}